:root{
    --main-color: rgb(187, 187, 187);
}

header{
    height: 50px;
    background: var(--main-color);
    line-height: 50px;
    padding-left: 32px;
    padding-right: 32px;
}

header a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}

header a:hover{
    color: #909090;
    text-decoration: none;
}

header .fa-arrow-left{
    margin-right: 16px;
}

header .header-right-button{
    float: right;
    background: transparent;
    border: 0;
    outline: none;
}

header .header-right-button:hover{
    color: #909090;
}

/*****/

#wrapper{
    background: #FFF;
    height: calc(100vh - 80px);
}

#wrapper .card{
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#wrapper .card .card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}

#wrapper .card .indice{
    width: 45px;
    height: 45px;
    line-height: 43px;
    background: var(--main-color);
    text-align: center;
    border-radius: 45px;
    margin-right: 16px;
    font-size: 1.2em;
}

#wrapper .card .card-body{
    background: var(--main-color)
}

#wrapper .card .card-footer{
    border-radius: 10px;
}

#wrapper .card .card-footer button{
    outline: none;
}

#wrapper .card .card-footer button:hover{
    opacity: 0.5;
    border-radius: 5px;
}