hr {
  border: none;
  border-top: 1px double black;
  color:black;
  overflow: visible;
  text-align: center;
  height: 1px;
}

.email{
  text-align: center;
}

.sidenav {
  padding-top: 20px;
  background-color:white;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .row.content {height:auto;} 
}

.btnEnvoi{
  position: relative;
  margin-left: 5px;
  padding-inline-end: -10%;
}

.vl {
  border-left: solid black;
  margin-top: 9px;
  height: 20px;
  position:absolute ;
  display: inline-block;
}

.img{
  position: relative;
  display: inline-block;
  height: 30px;
}

.form-control{
  margin-top: -5px;
  margin-bottom: -20px;
}

.btnAttachment{
  margin-top: 15px;
  background-color: white;
}

.btn2 {
  margin-left: 10px;
  margin-right: 10px;
}

.btn3{
  padding-inline-end: 0%;
}

.dropdown{
  display: inline-block;
}

.jumbotron {
	height: 50px;
	margin-bottom: 0;
}
.jumbotron .cont{
	display: flex
}
.jumbotron .cont h1{
	font-size: 22px;
	text-align: left;
	padding: 10px 0;
}
.jumbotron .cont button{
	border: 0;
	background: transparent;
	height: 50px;
	padding: 5px 20px;
}